* {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.img {
  max-width: 100%;
  max-height: 100%;
  &.logo {
    max-width: 48px;
  }
}

.text-transform-none {
  text-transform: none !important;
}

.scroller {
  overflow-y: auto;
  width: 100%;
  &.categories {
    max-height: 300px;
  }
}

nav {
  &.v-navigation-drawer {
    &.v-navigation-drawer--clipped.v-navigation-drawer--mini-variant {
      .v-navigation-drawer__content {
        .v-list {
          padding-top: 0;
        }
      }
    }
  }
}

.error-btn {
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
  .v-btn__content {
    color: #fff !important;
  }
}